.adminToogle {
  width: 100%;

  .toogle-true,
  .toogle-false {
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    color: $primary-color;
    border: 0.5px solid $fourth-color;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  .toogle-true {
    background-color: green;
  }

  .toogle-false {
    background-color: $delete-color;
    color: initial;
  }
}
