.repairCard {
  width: 95%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 0.0625rem solid $seventh-color;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 2%;
  cursor: pointer;

  &_bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
    gap: 10px;
    &_img {
      width: 35px;
    }
    &_name {
      font-size: 19px;
    }
    &_xforce {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 5px;
      gap: 3px;

      &_infos {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;
        gap: 3px;
        font-size: 16px;
        .fa-xforce {
          color: $sixte-color;
          width: 16px;
          height: auto;
        }
      }
    }
  }

  &_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 2%;
    &_checkbox {
      width: 20px;
      height: 20px;
      border: 0.2rem solid $seventh-color;
      border-radius: 5px;
    }
    .activ-price {
      color: $sixte-color;
      font-weight: 600;
    }
    .activ-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $sixte-color;
      border-color: $sixte-color;

      .fa-checkbox {
        width: 15px;
        height: 15px;
        color: white;
      }
    }
  }
}

.card-selected {
  border-color: $sixte-color;
}
