.theme {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1%;

  .switch {
    margin-right: 3%;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.9em;

    .fakeinput {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $fifte-color;
      transition: 0.5s;
      border-radius: 30px;

      .moon {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 50%;
        bottom: 15%;
        box-shadow: inset 15px 15px 15px 15px $sixte-color;
        background: $fourth-color;
        transition: 0.5s;
      }
    }
  }
}

.theme-light .moon {
  left: 10%;
}

.theme-dark {
  .switch {
    .slider {
      .moon {
        left: 50%;
        box-shadow: inset 8px -4px 0px 0px $sixte-color;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .theme-light,
  .theme-dark {
    transform: rotate(90deg);
  }
}
