@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$font-text: "Roboto", "sans-serif";

$primary-color: #f5f5f5;
$secondary-color: #5f4192;
$tertiary-color: #e5006d;
$fourth-color: #6c757d;
// $fifte-color: #555555;
// $sixth-color: rgb(85, 85, 85, 0.5);
// $seventh-color: #01153d;
// $delete-color: #e14d2a;
