@import "./reservation_calendar/agenda.scss";

.reservation {
  min-height: calc(100vh - 130px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  .bread-refurb {
    margin-top: 2%;
  }
  &_title {
    font-family: $font-title;
    font-size: 35px;
    font-weight: 600;
    margin-top: 2%;
    text-align: center;
  }
  &_form {
    margin-top: 3%;
    width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_input {
        width: 290px;
        height: 50px;
        border: 0.2rem solid $seventh-color;
        background-color: transparent;
        border-radius: 5px;
        margin-bottom: 2%;
        text-indent: 2%;
        &::placeholder {
          font-family: $font-text;
        }
      }
    }
    .email-input {
      width: 600px;
    }
    &_subscribe {
      width: 100%;
      height: 50px;
      margin-top: 1%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        background-color: mix($sixte-color, white, 18%);
        border-radius: 5px;
      }

      &_checkbox {
        width: 25px;
        height: 20px;
        margin-left: 1%;
        border: 0.2rem solid $seventh-color;
        border-radius: 5px;
      }
      &_text {
        font-size: 13px;
        text-align: left;
        span {
          font-weight: 600;
        }
      }

      .activ-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sixte-color;
        border-color: $sixte-color;
        .fa-checkbox {
          width: 15px;
          height: 15px;
          color: white;
        }
      }
    }

    .btn-form {
      margin-top: 2%;
      width: 30%;
      height: 50px;
    }
  }
}
@media screen and (max-width: 700px) {
  .reservation {
    &_title {
      font-family: $font-title;
      font-size: 28px;
    }
    &_form {
      width: 360px;
      &_box {
        flex-direction: column;
        &_input {
          width: 90%;
        }
      }

      .email-input {
        width: 90%;
      }
      &_subscribe {
        gap: 5px;
      }
    }
  }
}
