.adminRefurbs {
  width: 100%;
  border: 0.5px solid $fourth-color;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 2%;

  .text-refurb {
    margin-top: 2%;
    width: 80%;
    font-size: 15px;
  }
  .price-refurb,
  .input-refurb {
    margin-top: 2%;
  }
}
