.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

  &_logo {
    width: 10%;
    margin-left: 2%;

    &_img {
      width: 120px;
    }
  }

  &_infos {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 15%;

    &_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;

      &_fa {
        width: 20px;
        height: auto;
        color: $secondary-color;
      }

      &_text {
        font-size: 15px;

        p {
          margin-bottom: 4px;
        }
      }
    }
  }
  &_toogle {
    margin-right: 2%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .navbar_infos {
    .address,
    .schedule {
      display: none;
    }
  }
}
@media screen and (max-width: 700px) {
  .navbar_logo_img {
    width: 80px;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar_infos {
    .address,
    .schedule {
      display: none;
    }
    .contact {
      margin-left: 35px;
    }
    &_box_text {
      font-size: 12px;
    }
  }
}
