.navbar {
  background: white;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;

  &_fictif {
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-title;
    color: $tertiary-color;
  }

  &_toogle {
    margin-right: 2%;
  }
  &_container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    &_logo {
      width: 120px;
      margin-left: 20px;
    }
  }
  .container {
    z-index: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    .phone-number {
      display: flex;
      align-items: center;
      padding-left: 5px;
      gap: 10px;
      width: 185px;
      height: 50px;
      margin-right: 15px;
      border-radius: 5px;
      background-color: $secondary-color;
      &_fa {
        width: 25px;
        height: auto;
        color: $primary-color;
      }
      p {
        font-size: 20px;
        font-weight: 600;
        color: $primary-color;
      }
    }
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
  }
  .nav-item:hover {
    border-bottom: 2px solid $eighth-color;
  }
  .nav-links {
    color: $fifte-color;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .activated {
    color: $eighth-color;
  }
  .menu-icon {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .navbar {
    .container {
      .phone-number {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    .container {
      padding-left: 0%;
      padding-right: 5px;
      .navbar_container_logo {
        width: 100px;
        margin-left: 10px;
        margin-top: 12px;
      }
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 90px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      background: $fourth-color;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
      .phone-number {
        margin-left: 10%;
      }
    }

    .nav-links {
      padding: 2rem;
      width: 100%;
      display: table;
      color: $primary-color;
    }
    .activated {
      color: $secondary-color;
    }
    .nav-links:hover {
      color: $eighth-color;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }

    .nav-item:hover {
      border: none;
    }

    .nav-item {
      width: 100%;
    }

    .menu-icon {
      display: flex;
      align-self: center;
      font-size: 5rem;
      cursor: pointer;
      background: none;
    }
  }
}
