.navbar {
  // position: fixed;
  // top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;

  &_logo {
    width: 10%;
    margin-left: 1%;

    &_img {
      width: 140px;
    }
  }

  &_baseline {
    display: flex;
    flex-direction: column;
    width: 20%;
    color: $secondary-color;
    font-size: 22px;
    font-family: $font-title;
    font-weight: 500;
    margin-left: 2%;
  }

  &_infos {
    width: 80%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    gap: 15%;

    &_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;

      &_fa {
        width: 20px;
        height: auto;
        color: $secondary-color;
      }

      &_text {
        font-size: 15px;

        p {
          margin-bottom: 4px;
        }
      }
    }
  }
}
