@import "./repair_card/repairCard.scss";

.repair {
  min-height: calc(100vh - 150px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin-bottom: 2%;

  &_breadcrumbs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 100%;
  }
  &_bloc {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 3%;

    &_img {
      position: sticky;
      top: 0;
      width: 40%;
      height: auto;
      &_pic {
        margin-top: 6%;
      }
    }

    &_card {
      width: 60%;
      display: flex;
      flex-direction: column;

      &_text {
        margin: 4% 0 3% 0;
        font-size: 20px;
        span {
          font-weight: 600;
        }
      }

      &_price {
        width: 95%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.0625rem solid $seventh-color;
        &_text {
          font-size: 2rem;
          font-weight: 600;
        }
        &_total {
          font-size: 3rem;
          margin-right: 2%;
          font-weight: 600;
          color: $sixte-color;
        }
      }

      &_btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        gap: 5px;
        width: 350px;
        height: 75px;
        align-self: center;
        background-color: $sixte-color;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
          background-color: $fifte-color;
          color: $primary-color;
        }
      }

      &_warning {
        width: 95%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        min-height: 75px;
        background-color: $seventh-color;
        border-radius: 5px;
        .fa-warning {
          margin-left: 2%;
          width: 30px;
          height: 30px;
        }
        &_text {
          font-size: 17px;
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .repair {
    justify-content: unset;
    &_bloc_img_pic {
      margin-left: -150px;
      margin-top: 10%;
    }
  }
}
@media screen and (max-width: 700px) {
  .repair_bloc {
    flex-direction: column;
    align-items: center;
    &_img {
      display: none;
    }
    &_card {
      width: 98%;
    }
  }
}
