.adminRepair {
  width: 98%;
  border: 0.5px solid $fourth-color;
  border-radius: 5px;
  padding: 1%;

  &_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 1%;

    &_title {
      font-family: $font-title;
      font-size: 35px;
      font-weight: 600;
      color: $secondary-color;
    }

    &_btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: none;

      &_fa {
        width: 100%;
        height: auto;
        color: $tertiary-color;
      }
    }

    &_update {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 15px;

      &_input {
        height: 30px;
        width: 250px;
      }

      &_btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: none;

        &_fa {
          width: 100%;
          height: auto;
          color: $tertiary-color;
        }
      }
    }
  }

  &_infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
  }

  &_create {
    margin-top: 2%;
    width: 81%;

    .create-repair {
      padding: 3%;
    }
  }

  &_delete {
    margin-top: 2%;
    width: 81%;

    .create-repair {
      padding: 3%;
    }
  }
}
