.footer {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $fifte-color;
  color: $primary-color;
  &_infos {
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_google {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &_title {
        font-size: 18px;
        font-weight: 600;
      }
      &_map {
        width: 350px;
        height: 250px;
      }
    }
    &_schedules {
      width: 20%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      &_bloc {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
        }
      }
    }
  }
  &_legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    &_img {
      margin-top: 10px;
      height: 110px;
      width: 150px;
      object-fit: cover;
    }

    &_baseline {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      font-size: 15px;
      gap: 5px;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .footer {
    &_infos {
      &_google {
        width: 310px;
        height: 200px;
        &_map {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &_infos {
      margin-left: 2%;
      gap: 15px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &_schedules {
        width: 80%;
      }
    }
  }
}
