.adminBrandList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &_brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_btn,
    &_btn-activ {
      font-size: 20px;
      width: 100%;
      min-height: 50px;
      border: 0.5px solid $fourth-color;
      border-radius: 5px;
      padding: 1%;
      background-color: $secondary-color;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $tertiary-color;
      }
    }

    &_btn-activ {
      background-color: $tertiary-color;
    }
  }
}
