.adminUpdateRepair {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &_bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    &_text {
      font-size: 18px;
    }
    .desc {
      font-size: 14px;
    }
    &_btn {
      margin-right: auto;
      justify-self: left;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background: none;

      &_fa {
        width: 100%;
        height: auto;
        color: $tertiary-color;
      }
    }
  }

  &_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .repair-area {
      width: 100%;
      font-family: $font-text;
      min-height: 80px;
    }

    &_input {
      width: 100%;
      height: 30px;
    }
  }

  &_submit {
    width: 30%;
    min-height: 30px;
    border: 0.5px solid $fourth-color;
    border-radius: 5px;
    padding: 1%;
    background-color: $sixte-color;
    font-size: 18px;
    cursor: pointer;
  }
}
