.adminBrandOrModelCard,
.adminBrandOrModelCard-activ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border: 0.5px solid $fourth-color;
  border-radius: 5px;
  background-color: $fifte-color;
  transition: 0.3s ease-in-out;
  color: $primary-color;

  &:hover {
    background-color: $sixte-color;
  }

  .fa-hand {
    margin-left: 2%;
    width: 34px;
    height: auto;
  }

  &_name {
    min-width: 35%;
    height: 40px;
    color: $primary-color;
    margin-right: auto;
    margin-left: auto;
    background: none;
    cursor: pointer;
  }

  &_update {
    background: none;
    margin-right: 2%;
    cursor: pointer;

    .fa-hammer {
      width: 30px;
      height: auto;
      color: $primary-color;
    }

    .hammer-activ {
      color: black;
    }
  }

  &_toogletrue,
  &_tooglefalse {
    margin-right: 2%;
    width: 28px;
    height: 28px;
    border-radius: 50px;

    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &_toogletrue {
    background-color: $online-color;

    span.blink {
      display: block;
      width: 28px;
      height: 28px;
      background-color: $online-color;
      opacity: 0.7;
      border-radius: 50%;
      animation: blink 1s linear infinite;
    }
  }

  &_tooglefalse {
    background-color: $offline-color;

    span.blink {
      display: block;
      width: 28px;
      height: 28px;
      background-color: $offline-color;
      opacity: 0.7;
      border-radius: 50%;
      animation: blink 1s linear infinite;
    }
  }
}

@keyframes blink {
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.adminBrandOrModelCard-activ {
  background-color: $sixte-color;
  color: inherit;

  &:hover {
    background-color: $sixte-color;
  }

  .name-activ {
    color: black;
  }
}
