.brand {
  width: 100%;
  min-height: calc(100vh - 150px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;

  &_title {
    margin-top: 2%;
    font-family: $font-title;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  &_search {
    display: flex;
    align-items: center;
    margin-top: 2%;
    width: 800px;
    height: 30px;
    border: 1px solid $fourth-color;
    border-radius: 5px;
    background-color: white;
    padding: 1%;
    &_fa {
      width: 10%;
      height: 25px;
      color: $secondary-color;
    }
    &_input::-webkit-search-cancel-button {
      /* Safari et Chrome */
      display: none;
    }
    &_input::-moz-search-cancel-button {
      /* Firefox */
      display: none;
    }
    &_input {
      width: 90%;
      border: none;
      font-size: 20px;
      background-color: white;
      &:focus {
        outline: none;
      }
    }
    &_trash {
      width: 25px;
      height: 25px;
      cursor: pointer;
      &_fa {
        width: 25px;
        height: auto;
        color: $secondary-color;
      }
    }
  }
  &_brand {
    width: 95%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    column-gap: 2%;
    row-gap: 4em;
    &_li {
      width: 200px;
      height: 200px;
      background-color: white;
      border: 0.5px solid $fourth-color;
      border-radius: 5px;
      -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      &:hover {
        border: 0.5px solid $sixte-color;
      }

      &_pic {
        width: 100%;
        border-radius: 5px;
      }

      &_name {
        margin-top: 1%;
        font-size: 15px;
        text-align: center;
      }
    }
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .brand_search {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .brand {
    &_title {
      font-size: 25px;
    }
    &_search {
      width: 320px;
      &_input {
        font-size: 15px;
      }
    }
    &_brand {
      row-gap: 3em;
      margin-bottom: 3%;
      &_li {
        width: 160px;
        height: 160px;
      }
    }
  }
}
