.header {
  width: 90%;
  // height: 400px;
  margin-top: 5px;
  &_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    display: none;
  }
}
