@import "./adminManage.scss";

@import "./Adminbrands/adminBrandsList.scss";
@import "./Adminbrands/updateBrand.scss";

@import "./AdminCards/adminBrandsCard.scss";

@import "./AdminCreate/createBrandOrModel.scss";

@import "./AdminModels/adminModelsList.scss";

@import "./AdminRepairs/adminRepairs.scss";
@import "./AdminRepairs/AdminRepairs_create/adminCreateRepair.scss";
@import "./AdminRepairs/AdminRepairs_delete/adminDeleteModel.scss";
@import "./AdminRepairs/AdminRepairs_list/adminRepairsList.scss";
@import "./AdminRepairs/AdminRepairs_list/AdminRepairs_list_card/adminRepairCard.scss";
@import "./AdminRepairs/AdminRepairs_list/AdminRepairs_list_card/adminUpdateRepair.scss";
@import "./AdminRepairs/AdminRepairs_pic/adminModelPic.scss";

@import "./AdminToogle/adminToogle.scss";

@import "./AdminRefurbs/adminRefurbs.scss";

.admin {
  width: 100%;
  min-height: calc(100vh - 155px);
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 2%;
  margin-bottom: 2%;

  &_select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;

    &_btn,
    &_btn-activ {
      margin-top: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      background-color: $fifte-color;
      font-size: 20px;
      width: 20%;
      min-height: 50px;
      border: 0.5px solid $fourth-color;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }

    &_btn {
      &:hover {
        background-color: $sixte-color;
      }
    }

    &_btn-activ {
      background-color: $secondary-color;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  &_section {
    width: 98%;
    margin-top: 2%;
  }
}
