@import "./brand_list/adminBrandList.scss";
@import "./brand_list/createBrand.scss";
@import "./model_list/adminModelList.scss";

.admin {
  width: 95%;
  min-height: calc(100vh - 557px);
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1%;

  &_brand {
    width: 20%;
  }

  &_model {
    width: 20%;
  }

  &_manage {
    width: 50%;
  }
}
